{% extends 'base.html.twig' %}

{% block body %}
    {% for episode in episodes %}
        <h4>Episode {{ episode.number }} : {{ episode.title }}</h4>
        <p>{{ episode.synopsis }}</p>
    {% endfor %}
{% endblock %}