@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
 * {
   color:#949494;
 }


header {
  img {
    margin:0 30px;
  }
  background-color:#4F3930;
  a {
    color:#949494;
    font-size:22px;
  }
  button {
    color:#949494 !important;
  }
  .navbar-brand{
    font-size:36px;
    margin-right:10%;
  }
  .dropdown {
    margin:0 2%;
  }
  .favorite {
    margin:0 3%;
  }
  .deconnexion {
    margin:0 6%;
  }
  .secondImage {
    border-radius:50%;
  }
}

.background {

    position:fixed;
    height:100%;
    width:100%;
    z-index: -1;
}

/* ------------------------------------------- PAGE SHOW -------------------------------------------*/

#showPage {
  #seasons {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    .season {
      border:2px solid black;
      padding:20px;
      width:40%;
      max-height:100px;
      overflow:hidden;
      margin:10px;
    }
  }
  .programInfo {
    height:400px;
    width:100%;
  }
  .poster {
    height:250px;
    margin:auto;
    display:block;

  }
}
