<nav class="navbar navbar-expand-lg">
    <img src="" height="50px" width="50px" />
    <a class="navbar-brand" href="../../../../">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for category in categoriesAll.getAll %}
            <a class="dropdown-item" href="#">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Programs
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for program in programsAll.getAll %}
                <a href="{{ path('wild_show', {"slug" : program.slug | lower | replace({" " : "-"})}) }}">{{ program.title }}</a>
            {% endfor %}
        </div>
    </div>
    <a class="favorite" href="#">Mes favoris</a>
    <a class="deconnexion" href="#">Deconnexion</a>
    <a class="name" href="#">John Doe</a>
    <img class="secondImage" src="" height="50px" width="50px" />


</nav>